html {
  background: #3B5F5D
}

.App {
  text-align: center;
  margin-top: 5%;
  background: #3B5F5D;
  height: 100vh !important;
}

#userInput {
 border: 1px grey solid;
 margin-bottom: 2.5%;
 width: 300px;
}

#artist {
  margin-top: 2.5%;
}

.artist-img {
  width: 30% !important;
  height: 30% !important;
}

.btn {
  padding-top: 8px;
  padding-bottom: 7px;
  margin-bottom: 2px;
}

.error {
  border: 2px red solid !important;
}